form {
  display: flex;
}

input {
  flex: 0.9;
  background-color: white !important;
  border-style: hidden;
}

.searchButton {
  flex: 0.1;
  background-color: #009fd9;
  border-radius: 0px;
  border-style: hidden;
}
