form {
  display: flex;
}

form > * {
  padding: 20px 16px;
  border: 1px solid var(--border-color);
}

input {
  flex: 0.9;
  background-color: white;
}

.searchButton {
  flex: 0.1;
  background-color: #009fd9;
  border-radius: 0px 10px 10px 0px;
}
